.bar {
  fill: #E26656;
}

.bar:hover {
  fill: lighten(#E26656, 10%);
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


